<div class="promo">
  <div class="promo__title">Browse everything.</div>

  <div class="promo-cnt">
    <div class="promo-pic">
      <picture>
        <source
          media="(max-width: 799px)"
          srcset="
            ../src/assets/promo/mobile/phone.webp    294w,
            ../src/assets/promo/mobile/phone-2x.webp 587w
          "
        />
        <source
          media="(max-width: 1279px)"
          srcset="
            ../src/assets/promo/tablet/ipad.webp     706w,
            ../src/assets/promo/tablet/ipad-2x.webp 1413w
          "
        />
        <img
          src="../src/assets/promo/ipad.webp"
          srcset="
            ../src/assets/promo/ipad.webp    1x,
            ../src/assets/promo/ipad-2x.webp 2x
          "
          class="promo-pic__src"
          alt="Promo picture"
        />
      </picture>
    </div>
    <div class="promo__bg"></div>
  </div>
</div>
