<section class="how-to">
  {{> components/anchor-target text="How to" target="howto"}}
  <div class="two-colums __center">
    <div class="two-colums__wide">
      <h1 class="contactus-title">Map Your Success</h1>
    </div>
    <div class="how-to-discover">
      {{> components/button text="Discover More"}}
    </div>
  </div>

  {{> sections/how-to/list}}

  <div class="how-to-pic">
    <div class="how-to-pic__img">
      <img
        src="/img/how-to/desktop.webp"
        srcset="
          /img/how-to/desktop.webp      1200w,
          /img/how-to/desktop-2400.webp 2400w
        "
        sizes="1200px"
        class=""
        alt="How to map"
      />
    </div>
  </div>
</section>
