<div class="how-to-blocks__cnt">
  <!-- prettier-ignore -->
  {{> sections/how-to/item num="01" title="Get Started" text="With our
    intuitive setup, you’re up and running in minutes."}}

    {{>
    sections/how-to/item num="02" title="Customize and Configure" text="Adapt
    Area to your specific requirements and preferences."}}

    {{>
    sections/how-to/item num="03" title="Grow Your Business" text="Make informed
    decisions to exceed your goals."}}

  <!-- /prettier-ignore -->
</div>
