.benefits {
  padding-top: var(--shift-benefits);
  padding-bottom: var(--shift-benefits);

  border-top: var(--divider);
}

.benefits-dsc {
  padding-top: var(--shift-benefits-dsc);
}

.benefits__cnt {
  --shift-benefits-cnt: 16px;

  display: grid;

  margin: 0;
  padding: var(--shift-benefits) 0;
  list-style: none;
}

.benefits-block_item {
  padding-top: var(--shift-benefits-item);
  border-top: var(--divider);
}

.benefits__txt {
  padding-top: var(--shift-benefits-cnt);
}

.benefits__icon {
  padding-bottom: var(--shift-benefits-cnt);
}

.benefits-pic {
  text-align: center;
}

.benefits__img {
  display: inline-block;
  overflow: hidden;
  border-radius: var(--border-radius);
}

/* Big picture */

.bigpicture {
  display: flex;
  margin-top: var(--shift-bigpicture);
  width: 100%;
}

.bigpicture-left-column {
  padding-top: var(--shift-bigpicture);

  border-top: var(--divider);
}

.bigpicture-list {
  counter-reset: item;
  list-style: none;
  padding-left: 0;
}

.bigpicture-list__item {
  counter-increment: item;

  position: relative;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-top: var(--divider);
  color: #000;

  &:before {
    content: counter(item, decimal-leading-zero) " ";
    position: absolute;
    left: 0;
    margin-right: 8px;
    color: var(--text);
  }
}
