@media (width < 800px) {
  .benefits {
    --shift-benefits: 46px;
  }

  .benefits-dsc {
    --shift-benefits-dsc: 20px;
  }

  .benefits__cnt {
    gap: 38px;
    grid-template-columns: 1fr;
  }

  .benefits-block_item {
    --shift-benefits-item: 32px;
  }

  .bigpicture-btn {
    margin-top: 18px;
  }

  /* Big picture */

  .bigpicture {
    --shift-bigpicture: 80px;
    flex-direction: column;
    gap: 32px;
  }

  .bigpicture-left-column {
    --shift-bigpicture: 32px;
  }

  /* /Big picture */
}
