@media (min-width: 799px) and (max-width: 1279px) {
  .nav__cnt {
    display: flex;
    flex: 1;

    align-items: center;
  }

  .nav {
    flex: 1;
    display: flex;

    &.__header {
      justify-content: center;
    }
  }

  .nav__list {
    display: flex;
    gap: 26px;
  }
}
