@media (width >= 1280px) {
  .specs {
    padding-top: 80px;
  }

  /* Header */

  .specs-header {
    padding-bottom: 80px;
  }

  .specs-text {
    display: inline-block;
    max-width: 560px;
  }

  /*/Header */

  /* Block quote */

  .quote {
    grid-template-columns: repeat(2, 1fr);
    gap: 44px;
  }

  .quote-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quote-text {
    font-size: 38px;
  }

  /* /Block quote */
}
