@media (min-width: 799px) and (max-width: 1279px) {
  .specs {
    padding-top: 60px;
  }

  /* Header */

  .specs-header {
    padding-bottom: 60px;
  }

  /* /Header */

  /* Block quote */

  .quote {
    grid-template-columns: 1fr;
    gap: 38px;
  }

  .quote-inner {
    padding-top: 32px;
  }

  .quote-text {
    font-size: 38px;
  }

  .quote-pic {
    display: flex;
    justify-content: center;
  }

  /* /Block quote */
}
