<section class="benefits">
  {{> components/anchor-target text="Benefits" target="benefits"}}
  <h1 class="contactus-title">We’ve cracked the code</h1>
  <div class="benefits-dsc">
    Area provides real insights, without the data overload.
  </div>

  {{> sections/benefits/list}}

  <div class="benefits-pic">
    <div class="benefits__img">
      <img
        src="./public/img/benefits/benefits.webp"
        srcset="
          ./public/img/benefits/benefits.webp    1x,
          ./public/img/benefits/benefits@2x.webp 2x
        "
        class=""
        alt="How to map"
      />
    </div>
  </div>

  {{> sections/benefits/big-picture/section}}
</section>
