<div class="bicpicture-pic">
  <picture>
    <source
      media="(max-width: 799px)"
      srcset="
        ./public/img/benefits/mobile/big-pic.webp    294w,
        ./public/img/benefits/mobile/big-pic-2x.webp 587w
      "
    />
    <source
      media="(max-width: 1279px)"
      srcset="
        ./public/img/benefits/tablet/big-pic.webp     706w,
        ./public/img/benefits/tablet/big-pic-2x.webp 1413w
      "
    />
    <img
      src="./public/img/promo/ipad.webp"
      srcset="
        ./public/img/benefits/big-pic.webp    1x,
        ./public/img/benefits/big-pic-2x.webp 2x
      "
      class="bicpicture-pic__src"
      alt="Big picture"
    />
  </picture>
</div>
