<div class="bigpicture">
  <div class="bigpicture-left-column">
    <h2>See the Big Picture</h2>
    <div class="">
      Area turns your data into clear, vibrant visuals that show you exactly
      what's happening in each region.
    </div>

    <ol class="bigpicture-list">
      {{> sections/benefits/block-big-picture-item text="Spot Trends in Seconds:
      No more digging through numbers." }} {{>
      sections/benefits/block-big-picture-item text="Get Everyone on the Same
      Page: Share easy-to-understand reports with your team." }} {{>
      sections/benefits/block-big-picture-item text="Make Presentations Pop:
      Interactive maps and dashboards keep your audience engaged." }} {{>
      sections/benefits/block-big-picture-item text="Your Global Snapshot: Get a
      quick, clear overview of your entire operation." }}
    </ol>

    <div class="bigpicture-btn">
      {{> components/button text="Discover More"}}
    </div>
  </div>
  <div>{{> sections/benefits/big-picture }}</div>
</div>
