<ul class="benefits__cnt">
  <!-- prettier-ignore -->
  {{> sections/benefits/item icon="./public/img/benefits/icon-amplify-lnsights.svg" 
      title="Amplify Insights"
      text="Unlock data-driven decisions with comprehensive analytics, revealing key opportunities for strategic regional growth."}}

      {{> sections/benefits/item icon="./public/img/benefits/icon-amplify-lnsights.svg" 
      title="Control Your Global Presence"
      text="Manage and track satellite offices, ensuring consistent performance and streamlined operations everywhere."}}

      {{> sections/benefits/item icon="./public/img/benefits/icon-amplify-lnsights.svg" 
      title="Remove Language Barriers"
      text="Adapt to diverse markets with built-in localization for clear communication and enhanced user experience."}}

      {{> sections/benefits/item icon="./public/img/benefits/icon-amplify-lnsights.svg" 
      title="Visualize Growth"
      text="Generate precise, visually compelling reports that illustrate your growth trajectories across all regions."}}
  <!-- /prettier-ignore -->
</ul>
